#container{
    display:grid;
    padding: 5px;
    margin: 0px 0px;
    height: auto;
    width: auto;
    box-sizing: border-box;    
    /* background: linear-gradient(70deg, rgb(241, 130, 25),rgb(99, 52, 8)); */
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "contenedorfotos" "left" "right" "foot" "footer";
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.element{
    background-color: rgb(136, 60, 10);
    height: auto;
    width: auto;
    padding-top: 30px;
    text-align: center;
    color: white;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

a{
    text-decoration: none;
    color: rgb(255, 247, 235);
    font-style: bold;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    grid-area: titulo;
    font-weight: bold;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em; 
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;   
    height: 250px;
    padding-top: 50px;
    background-image: url("fondo3.jpg"); background-repeat: no-repeat; height:250px;
    /* background: linear-gradient(70deg, rgb(241, 130, 25),rgb(99, 52, 8)); */
}

.left{
    grid-area: left;
    padding-top: 30px;
    padding-bottom: 15px;
    height: 120px;
    text-align: center;
    margin-top: -100px;
}

.right{
    grid-area: right;
    align-items:flex-end;
}

.noticias{
    grid-area: foot;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.contactenos{
    grid-area: footer;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

span#titulo{
    display:grid;
    padding: 20px 0px 0px 0px;
    text-shadow: -3px 2px 0 #802603, -5px 4px 0 #c45e2f;
    text-align: center;
    font-family: Georgia;
    font-size: 6rem;
    color: rgb(229, 253, 13);
    font-weight: bold;
    text-shadow: 2px gold;
}

span#subtitulo{
    display:grid;
    padding: 0px 0px 20px 0px;
    text-shadow: -2px 2px 0 #c45e2f;
    text-align: center;
    font-family: Georgia;
    font-size: 2rem;
    color: rgb(235, 238, 75);
    font-weight: bold;
}

.tabla {
    border-collapse:collapse;
    text-size-adjust: auto;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

th{
    border: 5px solid rgb(184, 74, 11);
    background-color: #0c3b2e;
    width: 10em;
    text-align: center;
}

td {
    border: 5px solid rgb(184, 74, 11);
    background-color: rgb(235, 230, 171);
    width:10em;
    text-align: center;
    height: 30px;
}

/* td:hover{
    background-color: rgb(255, 251, 0);
    font-weight: bold;
    font-family: arial;
    font: bold;
    background-color: rgb(218, 152, 76);
    color: rgb(2, 2, 2);
} */

h3{
    text-align: center;
}

tr:nth-of-type(1) > th{
    background-color: #bb8a52;
}

#instagram, #telefono, #whatsapp{
    display:grid;
    /* padding: 0px 0px 0px 0px; */
    text-align: center;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

/* BOTONES */

.contenedor{
    width: auto px;
    margin:auto;
    padding: 20px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-botones{
    width: 50%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;

}

/* .boton {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background:rgb(206, 204, 94);
    box-shadow: 5px 5px 20px #8d8a88;
    color:rgb(0, 0, 0);
    font-size: 30px;
    cursor:pointer;
    text-transform:capitalize;
    transition: .3s ease all;
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif;
} */

.botonuno{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(50deg, rgb(247, 243, 41), rgb(214, 96, 0));
    color:rgb(0, 0, 0);
    font-size: 50px;
    height: 100px;
    border-radius: 30px;
    cursor:pointer;
    text-transform:capitalize;
    transition: .3s ease all;
    /* font-family:'Times New Roman', Times, serif; */
}

.botondos{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient( rgb(169 173 235), rgb(95 69 213));
    color:rgb(255, 255, 255);
    font-size: 50px;
    height: 100px;
    border-radius: 30px;
    cursor:pointer;
    text-transform:capitalize;
    transition: .3s ease all;
    font-family:'Times New Roman', Times, serif;
}

.botontres{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(50deg, rgb(109, 214, 88), rgb(41, 185, 12));
    color:rgb(0, 0, 0);
    font-size: 50px;
    height: 100px;
    border-radius: 30px;
    cursor:pointer;
    text-transform:capitalize;
    transition: .3s ease all;
    font-family:'Times New Roman', Times, serif;
}

.botoncuatro{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(50deg, rgb(105, 155, 88), rgb(101, 187, 72));
    color:rgb(0, 0, 0);
    font-size: 50px;
    height: 100px;
    border-radius: 30px;
    cursor:pointer;
    text-transform:capitalize;
    transition: .3s ease all;
    font-family:'Times New Roman', Times, serif;
}

/* .boton:hover{
    background: rgb(146, 185, 4);
    font-size: 20px;
    color:black bold;
} */

/* BOTONES CLASES*/

.contenedor-clases{
    width: auto px;
    margin:auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-botones-clases{
    width: 80%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:20px;

}

.boton5 {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    background:rgb(206, 204, 94);
    box-shadow: -3px 2px 0 #802603, -5px 4px 0 #bd6840;
    color:rgb(0, 0, 0);
    font-size: 26px;
    cursor:pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif;
}

/* .boton:hover{
    background: rgb(146, 185, 4);
    font-size: 20px;
    color:black bold;
} */

#contenedoritemscarrusel{
    padding: 0px;
    margin: 80px;
    height: 420px;
    overflow: hidden;
    box-sizing: border-box;
}

.itemcarrusel{
    /* width: 100%; */
    height: 100%;
    /* background-color: yellowgreen; */
    position: relative;
    text-align: center;
}

.tarjetacarrusel{
    /* background-color: rgb(8, 95, 66); */
    height: 100%;
    /* animation: cambio 20s infinite alternate linear; */
}

/* @keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
} */

.flechascarrusel{
    height: 100%;
    width: 95%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;    
    margin-left: 20px;
    padding: 10px;
    font-size: 100px;
}

/* #tarjetacarrusel1{
    background-color: aquamarine;
}
#tarjetacarrusel2{
    background-color: #bb8a52;
}
#tarjetacarrusel3{
    background-color: #c45e2f;
} */

i{
    font-size: 50px;
}
